mixin backButton()
    i.fa.fa-chevron-left.back-button

mixin userButton()
    i.fa.fa-user.user-button

mixin plusButton()
    i.fa.fa-plus.plus-button

mixin checkButton()
    i.fa.fa-check

mixin cogButton()
    i.fa.fa-cog
