include buttons

mixin listHeader(listName)
    div.row
        div.col-sm-12
            span
                +backButton
            span #{listName}
            div.pull-right
                +plusButton

mixin completedHeader(listName)
    div.row
        div.col-sm-12
            span
                +backButton
            span #{listName}
            div.pull-right
                +checkButton

mixin leftListRightContent(listName, contentName)
    div.landscape-or-portrait
        div.landscape-or-portrait__landscape
            div.landscape-responsive
                div.landscape-responsive__nav
                    +listHeader(listName)
                div.landscape-responsive__content
                    span #{contentName}
                    div.pull-right
                        +checkButton

        div.landscape-or-portrait__portrait
            +completedHeader(contentName)
