//
   Created by brian on 11/15/16.

div.row.header-padding
    div.col-sm-12
        form
            div.form-group
                label Name
                input.form-control(type="text" ng-model="model.widget.name")
                div.text-danger {{model.errors.name}}
            div.form-group
                label Text
                input.form-control(type="text" ng-model="model.widget.text")
            div.form-group
                label Rows
                input.form-control(type="number" ng-model="model.widget.rows")
            div.form-group
                label Placeholder
                input.form-control(type="text" ng-model="model.widget.placeholder")
            div.form-group
                label Formatted
                input(type="checkbox" ng-model="model.widget.formatted")
            button.btn.btn-danger.btn-block(ng-click='model.deleteWidget(model.widget._id)') Delete

