div.row.header-padding
    div.col-sm-12
        form
            div.form-group
                label Name
                input.form-control(type="text" ng-model="model.widget.name")
            div.form-group
                label Text
                input.form-control(type="text" ng-model="model.widget.text")
            div.form-group
                label Size
                input.form-control(type="number" value="1" ng-model="model.widget.size")

