extends layout

include ../components/headers

block page-header
    +backListHeader('Pages')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            include components/page_list

