extends page-nav-layout

include ../components/headers

block page-header
    +leftListRightCompleted('Pages', 'New Page', '/assignment/page-list.html',
        '/assignment/page-new.html', '/assignment/page-list.html')

block page-content
    form
        div.form-group
            label Name
            input.form-control(type="text" placeholder="Page Name")
        div.form-group
            label Title
            input.form-control(type="text" placeholder="Page Title")


