extends layout
include components/page_list

block between-header-footer
    div(class="landscape-responsive landscape-responsive--border-separated " +
    "landscape-responsive--scrollable landscape-responsive--header-padding")
        div.landscape-responsive__nav(ng-controller="PageListController as pageListModel")
            +page_list('pageListModel')
        div.landscape-responsive__content
            block page-content

