extends layout

include ../components/headers

include components/page_list
block page-header
    +backListHeader('Pages', '#/user/{{model.userId}}/website',
    '#/user/{{model.userId}}/website/{{model.websiteId}}/page/new')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            +page_list('model')

