extends page-nav-layout

include ../components/headers

block page-header
    +leftListRightCompleted('Pages', 'Edit Page', '/assignment/page-list.html',
    '/assignment/page-new.html', '/assignment/page-list.html')

block page-content
    form
        div.form-group
            label Name
            input.form-control(type="text" placeholder="Page Name" value="Blog Post")
        div.form-group
            label Title
            input.form-control(type="text" placeholder="Page Title")
        a.btn.btn-danger.btn-block(href="/assignment/page-list.html") Delete


