extends layout

include ../components/headers

block page-header
    +backListHeader('Pages', '/assignment/website-list.html', '/assignment/page-new.html')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            include components/page_list

