extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="#") project
    li
      a(href="/assignment/login.html") assignment
    li
      a(href="/test/") test mongoDB
    li
      a(href="https://github.com/bsherrill480/sherrill-brian-webdev") github

