include ../../../components/lists
include ../widget_element_options

div.widget-item
    +widget_options("#/user/{{model.userId}}/website/{{model.websiteId}}/page/" +
    "{{model.pageId}}/widget/{{widget._id}}" )
    div(ng-bind-html="widget.textTrusted")
