extends layout
include components/websites_list

block between-header-footer
    div(class="landscape-responsive landscape-responsive--border-separated " +
    "landscape-responsive--scrollable landscape-responsive--header-padding")
        div.landscape-responsive__nav(ng-controller="WebsiteListController as websiteListModel")
            +website_list("websiteListModel")
        div.landscape-responsive__content
            block website-content

