extends layout

include ../components/headers

block website-header
    +backListHeader('Websites', '/assignment/profile.html', '/assignment/website-new.html')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            include components/websites_list

