extends layout

include ../components/headers
include components/websites_list

block website-header
    +backListHeader('Websites', '#/user/{{model.userId}}', '#/user/{{model.userId}}/website/new')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            +website_list("model")

