extends layout
block content
    div.landscape-responsive
        div.landscape-responsive__nav
            include components/websites_list
        div.landscape-responsive__content
            block website-content

