extends layout

include ../components/headers

block website-header
    +listHeader('Websites')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            include components/websites_list

