extends websites-nav-layout

include ../components/headers
include ../components/alert_error

block website-header
    +leftListRightCompleted('Websites', 'New Website',
    '#/user/{{model.userId}}/website',
    '#/user/{{model.userId}}/website/new',
    '#/user/{{model.userId}}/website',
    'model.done(model.website)')

block website-content
    form
        +alertError
        div.form-group
            label Name
            input.form-control(type="text" placeholder="Name" ng-model="model.website.name")
            div.text-danger {{model.errors.password}}
        div.form-group
            label Description
            textarea.form-control(placeholder="Description", rows=5,
            ng-model="model.website.description")


