extends layout

block content
    div.landscape-responsive.landscape-responsive--border-separated
        div.landscape-responsive__nav
            include components/websites_list
        div.landscape-responsive__content
            block website-content

