extends websites-nav-layout

include ../components/headers

block website-header
    +leftListRightCompleted('Websites', 'Edit Website', '/assignment/website-list.html',
    '/assignment/website-new.html', '/assignment/website-list.html')

block website-content
    form
        div.form-group
            label Name
            input.form-control(type="text" placeholder="Name" value="Blogger")
        div.form-group
            label Description
            textarea.form-control(placeholder="Description", rows=5) Blogger is a blog-publishing...
        a.btn.btn-danger.btn-block(href='/assignment/website-list.html') Delete


