.header-nav, .footer-nav {
  align-items: center;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 50px; }

.header-nav .header-nav__content, .footer-nav .footer-nav__content {
  flex: 1; }

.header-padding {
  padding-bottom: 50px;
  padding-top: 1em; }

.header-nav .header-nav__content .back-button {
  margin-right: 1em; }

.header-nav.header-nav--website-header {
  background-color: #3f8acd;
  color: #fff; }
  .header-nav.header-nav--website-header a {
    color: #fff; }

.header-nav.header-nav--page-header {
  background-color: #f7f7f7;
  color: inherit; }
  .header-nav.header-nav--page-header a {
    color: inherit; }

.header-nav.header-nav--widget-header {
  background-color: #f7f7f7;
  color: inherit; }
  .header-nav.header-nav--widget-header a {
    color: inherit; }

.footer-nav .footer-nav__content .back-button {
  margin-right: 1em; }

.footer-nav.footer-nav--website-footer {
  background-color: #3f8acd;
  color: #fff; }
  .footer-nav.footer-nav--website-footer a {
    color: #fff; }

.footer-nav.footer-nav--page-footer {
  background-color: #f7f7f7;
  color: inherit; }
  .footer-nav.footer-nav--page-footer a {
    color: #428dc9; }

.footer-nav.footer-nav--widget-footer {
  background-color: #f7f7f7;
  color: inherit; }
  .footer-nav.footer-nav--widget-footer a {
    color: #428dc9; }

.between-header-footer {
  bottom: 50px;
  position: absolute;
  top: 50px;
  width: 100%; }
  .between-header-footer > .container-fluid {
    height: 100%; }

@media (min-width: 768px) {
  .landscape-or-portrait .landscape-or-portrait__portrait {
    display: none; } }

@media (max-width: 767px) {
  .landscape-or-portrait .landscape-or-portrait__landscape {
    display: none; } }

.landscape-responsive {
  margin-left: -15px;
  margin-right: -15px;
  height: 100%; }
  .landscape-responsive:before, .landscape-responsive:after {
    content: " ";
    display: table; }
  .landscape-responsive:after {
    clear: both; }
  .landscape-responsive .landscape-responsive__nav {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%; }
    @media (min-width: 768px) {
      .landscape-responsive .landscape-responsive__nav {
        float: left;
        width: 33.33333333%; } }
    @media (max-width: 767px) {
      .landscape-responsive .landscape-responsive__nav {
        display: none; } }
  .landscape-responsive .landscape-responsive__content {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%; }
    @media (min-width: 768px) {
      .landscape-responsive .landscape-responsive__content {
        float: left;
        width: 66.66666667%; } }
  .landscape-responsive.landscape-responsive--border-separated .landscape-responsive__nav {
    border-right: 1px solid #eeeeee; }
  .landscape-responsive.landscape-responsive--header-padding .landscape-responsive__nav,
  .landscape-responsive.landscape-responsive--header-padding .landscape-responsive__content {
    padding-top: 1em; }
  .landscape-responsive.landscape-responsive--scrollable .landscape-responsive__nav,
  .landscape-responsive.landscape-responsive--scrollable .landscape-responsive__content {
    overflow-y: auto; }

.widget-item {
  position: relative; }
  .widget-item .widget-item__element-options {
    background: #fff;
    border-bottom-left-radius: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }

.list-item {
  margin-bottom: 1em; }
