.landscape-responsive__nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .landscape-responsive__nav {
      display: none; } }
  @media (min-width: 768px) {
    .landscape-responsive__nav {
      float: left;
      width: 33.33333333%; } }

.landscape-responsive__content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .landscape-responsive__content {
      float: left;
      width: 66.66666667%; } }

.footer {
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%; }
