extends ../layout

include ../components/buttons

block content
    div.between-header-footer
        div.container-fluid
            block between-header-footer

block header
    div.navbar.navbar-fixed-top.header-nav.header-nav--widget-header
        div.container-fluid.header-nav__content
            block widget-header

block footer
    div.navbar.navbar-fixed-bottom.footer-nav.footer-nav--widget-footer
        div.container-fluid.footer-nav__content
            div.row
                div.col-sm-12
                    block widget-footer
                    //+userButton
