extends layout

block between-header-footer
    div(class="landscape-responsive landscape-responsive--border-separated " +
    "landscape-responsive--scrollable landscape-responsive--header-padding")
        div.landscape-responsive__nav
            include components/widget_list
        div.landscape-responsive__content
            block widget-content

