extends layout

include ../components/headers

block widget-header
    +backListHeader('Widgets', '/assignment/page-list.html', '/assignment/widget-chooser.html')

block between-header-footer
    div.row.header-padding
        div.col-sm-12
            include components/widget_list

block widget-footer
    div
        div.pull-left
            include components/widget_list_footer_stuff

        div.pull-right
            a(href="/assignment/profile.html")
                +userButton
