include ../components/lists

extends widget-nav-layout

include ../components/headers

block widget-header
    +leftListRightBack('Widgets', 'Choose Widget',
    '#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget',
    '#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new')


block widget-content
    div.row.header-padding
        div.col-sm-12
            - wBaseUrl = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
            +listItem("Header", wBaseUrl + "/HEADER")
            +listItem("Label", "#")
            +listItem("HTML", wBaseUrl + "/HTML")
            +listItem("Text Input", "#")
            +listItem("Link", "#")
            +listItem("Button", "#")
            +listItem("Image", wBaseUrl + "/IMAGE")
            +listItem("YouTube", wBaseUrl + "/YOUTUBE")
            +listItem("Data Table", "#")
            +listItem("Repeater", "#")

block widget-footer
    include components/user_icon_footer