include ../components/lists

extends widget-nav-layout

include ../components/headers

block widget-header
    +leftListRightCompleted('Widgets', 'Edit Widget', "/assignment/widget-list.html",
        "/assignment/widget-chooser.html", "/assignment/widget-list.html")

block widget-content
    div.row.header-padding
        div.col-sm-12
            form
                div.form-group
                    label Name
                    input.form-control(type="text")
                div.form-group
                    label Text
                    input.form-control(type="text")
                div.form-group
                    label Url
                    input.form-control(type="text" value="https://youtu.be/uLWLashCXHE")
                div.form-group
                    label Width
                    input.form-control(type="text")
                a.btn.btn-danger.btn-block(href="/assignment/widget-list.html") Delete

block widget-footer
    include components/user_icon_footer