include ../../components/lists

mixin page_list(controllerModelName)
    div(ng-repeat="page in " + controllerModelName + ".pages")
        +editableListItem("{{page.name}}",
        "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget",
        "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
        )




