include ../../components/lists

+editableListItem("Blog Post", "/assignment/widget-list.html", "/assignment/page-edit.html")
+editableListItem("Blogs", "/assignment/widget-list.html", "/assignment/page-edit.html")
+editableListItem("Home", "/assignment/widget-list.html", "/assignment/page-edit.html")
+editableListItem("About", "/assignment/widget-list.html", "/assignment/page-edit.html")
+editableListItem("Contact Us", "/assignment/widget-list.html", "/assignment/page-edit.html")



