include ../../components/lists
mixin website_list(controllerModelName)
    div(ng-repeat="website in " + controllerModelName + ".websites")
        +editableListItem("{{website.name}}",
        "#/user/{{model.userId}}/website/{{website._id}}/page",
        "#/user/{{model.userId}}/website/{{website._id}}"
        )
