div.row.header-padding
    div.col-sm-12
        form
            div.form-group
                label Name
                input.form-control(type="text" ng-model="model.widget.name")
            div.form-group
                label Text
                input.form-control(type="text" ng-model="model.widget.text")
            div.form-group
                label Url
                input.form-control(type="text" ng-model="model.widget.url")
            div.form-group
                label Width
                input.form-control(type="text" value="100%" ng-model="model.widget.width")
            div.form-group
                label Upload
                input.form-control(type="file" accept="image/*")
            button.btn.btn-primary.btn-block Upload Image
