extends ../../layout

block content
    div.row
        div.col-sm-12
            h1 Login
            form
                div.form-group
                    input.form-control(type="email" placeholder="username")
                div.form-group
                    input.form-control(type="password" placeholder="password")
                a.btn.btn-primary.btn-block(href="/assignment/profile.html") Login
                a.btn.btn-success.btn-block(href="/assignment/register.html") Register
