extends ../layout

block content
    div.row
        div.col-sm-12
            h1 Login
            form
                div.form-group
                    input.form-control(type="text"
                        placeholder="username" ng-model="model.user.username")
                div.form-group
                    input.form-control(type="password" placeholder="password"
                        ng-model="model.user.password" my-enter="model.login(model.user)")
                a.btn.btn-primary.btn-block(ng-click="model.login(model.user)") Login
                a.btn.btn-success.btn-block(href="#/register") Register

