extends ../../layout

block content
    div.row
        div.col-sm-12
            h1 Register
            form
                div.form-group
                    input.form-control(type="email" placeholder="username")
                div.form-group
                    input.form-control(type="password" placeholder="password")
                div.form-group
                    input.form-control(type="password" placeholder="verify password")
                a.btn.btn-success.btn-block(href="/assignment/profile.html") Register
                a.btn.btn-danger.btn-block(href="/assignment/login.html") Cancel
