extends ../layout

block content
    div.row
        div.col-sm-12
            h1 Register
            form
                div.form-group
                    input.form-control(type="text" placeholder="username"
                    ng-model="model.user.username")
                div.form-group
                    input.form-control(type="password" placeholder="password"
                    ng-model="model.user.password")
                div.form-group
                    input.form-control(type="password" placeholder="verify password"
                    ng-model="model.user.verifyPassword")
                a.btn.btn-success.btn-block(ng-click="model.register(model.user)") Register
                a.btn.btn-danger.btn-block(href="#/login/") Cancel
