include ../../components/buttons

div
    div.pull-left.landscape-or-portrait
        div.landscape-or-portrait__portrait
        div.landscape-or-portrait__landscape
            include widget_list_footer_stuff

    div.pull-right
        a(href="/assignment/profile.html")
            +userButton
