include ../../components/lists
include widget_element_options

mixin widget_list(controllerModelName)
    div(sortable on-sort=controllerModelName + ".onSort(start, end)")
        div(ng-repeat="widget in " + controllerModelName + ".widgets")
            div(ng-switch="widget.widgetType")
                div(ng-switch-when="HEADER")
                    ng-include(src="'/assignment/widget/widget-heading.view.client.html'")
                div(ng-switch-when="IMAGE")
                    ng-include(src="'/assignment/widget/widget-image.view.client.html'")
                div(ng-switch-when="YOUTUBE")
                    ng-include(src="'/assignment/widget/widget-youtube.view.client.html'")
                div(ng-switch-when="HTML")
                    //p HTML {{widget.text}}
                    ng-include(src="'/assignment/widget/widget-html.view.client.html'")
                div(ng-switch-when="TEXT")
                    //p HTML {{widget.text}}
                    ng-include(src="'/assignment/widget/widget-text.view.client.html'")
