include ../../components/lists
include widget_element_options
//- Going to use

div.widget-item.widget-item--header
    +widget_options
    h1 GIZMODO

div.widget-item.widget-item--label
    +widget_options
    label US Senate Reaches Compromise on Emergency Zika Funding






