include ../../components/buttons
mixin widget_options(cogHref)
    div.widget-item__element-options
        a(ng-href="#{cogHref}")
            +cogButton
        span &nbsp;
        +hamburgerButton

